/* Login.css */

.check-pass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    margin: 10px;
    gap: 2rem;
}

/* Login-signup.css */

.login-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.form-container {
    width: auto;
    height: auto;
    padding: 1rem;
    border-radius: 5px;
}

.inputt-box {
    background-color: transparent;
    border: none;
    outline: none;
}

.long-btn {
    width: 91%;
}

.btn-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.new-ac {
    width: 100%;
    text-align: center;
    margin: 1rem;
}

.login-head {
    margin: 0.625rem 1.25rem 1.25rem 1.25rem;
    text-align: center;
    color: var(--font-color);
}

/* root.css */

.justify-align {
    justify-content: center;
    align-items: center;
}

/* New */

.inp-txt {
    color: var(--font-color);
}

fieldset {
    border: 1px solid var(--font-color);
    padding: 1rem;
    height: 2.188rem;
    border-radius: 5px;
    text-align: start;
    margin: 0.938rem;
    box-sizing: content-box;
}

.text-btn {
    background-color: transparent;
    border: none;
    color: var(--accent-color);
    font-size: 1rem;
    cursor: pointer;
}

.text-btn:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: var(--btn-hover-color);
    color: var(--font-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 0.938rem;
    font-size: 1rem;
    cursor: pointer;
}

.login-btn:hover {
    background-color: var(--primary-color);
}

.sign-check {
    margin-bottom: 1.25rem;
}